<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40-Client" />
  <package id="Common.Logging.Log4Net1211" version="2.1.2" targetFramework="net40-Client" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net40-client" requireReinstallation="true" />
  <package id="log4net" version="2.0.10" targetFramework="net40-client" requireReinstallation="true" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net40-Client" />
  <package id="ThomsonReuters.Desktop.SDK.Common.Signed" version="1.6.2" targetFramework="net40-Client" />
  <package id="ThomsonReuters.Desktop.SDK.DataAccess.Signed" version="1.6.2" targetFramework="net40-Client" />
  <package id="ThomsonReuters.Desktop.SDK.UI.Signed" version="2.4.1" targetFramework="net40-Client" />
  <package id="ThomsonReuters.Udap.Ipc.Signed" version="2.7.0" targetFramework="net40-Client" />
</packages>